body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
    	text-align: center;
}

h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	font-weight:bold;
	margin-top:20px ;
	padding: 0;
    	display:flex;
    	justify-content: space-evenly;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: white;
	padding: 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: grey;
}

main {
	margin: 20px;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	color:white;
}

section {
	margin-bottom: 20px;
}

body {
	background-image: url(./images/background.avif);
	background-size:cover;
	background-repeat: no-repeat;
	height:100vh;
	background-attachment:fixed;
}
.about{
	font-weight:bold;
    	font-family: Georgia;
    	display:flex;
    	flex-direction:column;
	align-items: center;
	margin-top: 250px;
	flex-wrap:wrap;
	color:white;
}
.contact{
	margin:100px 550px;
	display:flex;
	flex-direction:column;
	align-items: center;
	flex-wrap:wrap;
	color:white;
}

.gallery{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:1em;
	margin-top: 10px;
}
