*{
    margin:0;
    padding:0;
    font-family: arial,sans-serif;
  }
  
  body{
    display: grid;
    grid-template-columns:auto 4fr;
    column-gap:0px;
    justify-content: left; 
  }
  
  .menu_list, .table_list{
    height:100vh;
    overflow-y: scroll;
  } 
  
  #tables, #menu{
   background-color: white; 
  } 
  
  #header{
  position: sticky;
  top:0;
  background-color: #333;
  margin:0px;
  padding:1px;
  color:white;
  }
  
  .table,.item{
    background-color: white;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
  }
  
  .item p{
    padding: 5px 2;
    margin-bottom: 35px;
  }
  
  h3,input{
    text-align : center;
    margin:10px;
  }
  
  input{
    padding : 10px;
    border:none;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  input:focus-visible{
    outline:none;
  }
  
  #item_search{
    width:50%;
  }
  
  p{
    padding:15px 0px;
    font-size: 15px;
    color: rgb(156, 156, 156);
  }
  
  .popUp {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);    
  }
  
  .popUp-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid white;
    width: 50%;
    border-radius:10px;
  
  }
  
  #popUp-close {
    background-color: rgb(7, 56, 161);
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: right;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #popUp-close button {
    background-color: white;
    padding: 0.5rem;
    border: none;
    color: #dc3545;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .change {
    background-color: white;
    box-shadow: none;
    font-weight: bold;
    border:white;
  }
  
  #popUp-table-name {
    text-align: left;
    padding:10px;
  }
  
  #table-info-items{
    border:none;
  }
  
  #popUp-footer {
    margin-top: 2px;
    text-align: center;
    padding:10px;
  }
  #generate-bill{
    text-align: right;
  }
  #generate-bill button {
    padding: 0.5rem;
    border: none;
    color: #dc3545;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dc3545;
    cursor: pointer;
  }
  
  td {
  border: 1px solid white;
  padding: 5px;
  }
  
  table:first-child{
    font-weight: bold;
  }
  
  table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  }
  
  @media screen and (max-height: 700px) {
  #table-info {
    font-size: 60%;
    width: 10%;
  }
  
  
  #table-box {
  word-wrap: break-word;
  max-width: 80%;
  margin-top: 0.5rem;
  padding: 0;
  text-align: left;
  border: 1px solid black;
  }
  
  table {
  width: fit-content;
  }
  
  .popUp {
  padding-top: 50px;
  }
  .popUp-content {
  margin: 0;
  }
  
  td:nth-child(3) {
  width: 10%;
  }
  
  }